.completed {
  text-decoration: line-through;
}

.inline {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task--taskName {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.task--button {
  font-family: "Inter", sans-serif;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 12px;
  height: 25px;
  margin-inline: 8px;
  position: relative;
  right: 9px;
  color: black;
}

.task--button:hover {
  cursor: pointer;
}
